.ingredients {
}

.ingredients-title {
}

.ingredients-list {
}
.ingredients-item {
}
.ingredients-ill {
}
.ingredients-caption {
    font-size: inherit;
font-weight: 600;
text-transform: uppercase;
}